body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(19, 19, 19, 0.603) , transparent 30%); /* Add black gradient from bottom */
    background-color: #3a3a3a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.big-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #696969;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.pumpkin-head {
    width: 100px; /* Adjust width to fit your image */
    height: 100px; /* Adjust height to fit your image */
    position: absolute;
    top: 0px; /* Adjust position as needed */
    left: 0px; /* Adjust position as needed */
    pointer-events: none; /* Ensure the image does not interfere with button clicks */
}

.arm-box {
    width: 100px;
    height: 150px;
    background-color: #3a3a3a;
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 2; /* Higher z-index to appear above the arm */
    border-bottom: 5px solid #000; /* Add a lower border */
}

.arm {
    width: 100px; /* Adjust width to fit your image */
    height: 120px; /* Adjust height to fit your image */
    background-image: url('skel_hand.png'); /* Set your custom arm image path here */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1s, left 1s;
    z-index: 1; /* Lower z-index to appear below the arm-box */
}


.bat {
    position: absolute;
    width: 150px; /* Adjust width to fit your image */
    height: 70px; /* Adjust height to fit your image */
    background-image: url('black bat.png'); /* Set your custom bat image path here */
    background-size: cover;
    background-position: center;
}

.bat1 {
    top: 15%;
    left: 20%;
    transform: rotate(-15deg);
}

.bat2 {
    top: 30%;
    left: 70%;
    transform: rotate(15deg);
}

.bat3 {
    top: 70%;
    left: 35%;
    transform: rotate(-05deg);
}

.mute-button {
    position: absolute;
    top: 20px; /* Adjust position as needed */
    right: 20px; /* Adjust position as needed */
    width: 50px; /* Set width */
    height: 50px; /* Set height */
    background-color: #ff2d2d; /* Background color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 50%; /* Make the button round */
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Ensure the button is above other elements */
}

.mute-button:hover {
    background-color: #cf2626; /* Darker background color on hover */
}

.mute-icon {
    width: 24px; /* Adjust width to fit your icon */
    height: 24px; /* Adjust height to fit your icon */
}